<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/groupBuying/list.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            alert(errorMessage);
        }
        /*]]>*/
    </script>
</head>
<body>
    <!-- header 삽입 -->
    <div th:replace="thyme/frameHeader :: header"></div>

    <!-- 메뉴바 -->
    <div class="menu1">
        <nav>
            <ul>
                <li><a th:href="@{/groupBuying/list/ALL(pageNum=1)}">전체</a></li>
                <li><a th:href="@{/groupBuying/list/BOOK(pageNum=1)}">교재</a></li>
                <li><a th:href="@{/groupBuying/list/ELECTRONIC(pageNum=1)}">전자기기</a></li>
                <li><a th:href="@{/groupBuying/list/STATIONERY(pageNum=1)}">문구</a></li>
                <li><a th:href="@{/groupBuying/list/TRANSFER(pageNum=1)}">양도</a></li>
            </ul>
        </nav>
    </div>
    <hr/>

    <div th:if="${#lists.isEmpty(groupBuyingList)}">
        <p th:value="noList"></p>
    </div>

    <!-- 중고거래 게시글 리스트 -->
    <div class="product-grid" th:if="${not#lists.isEmpty(groupBuyingList)}">
        <div th:each="groupBuying : ${groupBuyingList}">
            <a th:href="@{/groupBuying/detail(groupBuyingId=${groupBuying.getGroupBuying().id})}" class="product-box-link">
                <div class="product-box">
                    <span th:text="${#strings.substring(groupBuying.getGroupBuying().createdAt, 0, 10)}"></span>
                    <!-- 이미지가 있는 경우 가장 첫 번째 이미지를 썸네일로 사용-->
                    <div th:if="${groupBuying.getGImages() == null or groupBuying.getGImages().isEmpty()}">
                        <img th:src="@{/images/no_img.jpg}" alt="No Image" />
                    </div>
                    <div th:if="${groupBuying.getGImages() != null and !groupBuying.getGImages().isEmpty()}">
                        <img th:src="@{${groupBuying.getGImages[0].path}}" alt="Image"/>
                    </div>
                    <p id="title" th:text="${groupBuying.getGroupBuying().title}"><b>제목</b></p>
                    <p th:text="${groupBuying.getGroupBuying().member.nickname}">작성자</p>
                    <p th:text="${groupBuying.getGroupBuying().price} + '원'">가격</p>
                </div>
            </a>
        </div>
    </div>

    <!-- 글 작성하기 버튼 -->
    <button id="create" type="button" th:onclick="|window.location.href='@{/groupBuying/moveToForm}'|">글 작성하기</button>

    <!-- 페이지네이션 -->
    <div class="pagination" th:if="${not#lists.isEmpty(groupBuyingList)}">
        <!-- 이전 버튼, currentPage가 11 이상일 때만 활성화 -->
        <button th:if="${groupBuyingList[0].currentPage > 10}"
                th:onclick="|window.location.href='@{/groupBuying/list/{category}(category=${groupBuyingList[0].category}, pageNum=${groupBuyingList[0].currentPage - 10})}'|">&lt;</button>

        <!-- 페이지 번호 반복 출력 -->
        <span th:each="pageNumber : ${#numbers.sequence((groupBuyingList[0].currentPage - 1) / 10 * 10 + 1, ((groupBuyingList[0].currentPage - 1) / 10 + 1) * 10)}">
        <a th:if="${pageNumber <= groupBuyingList[0].totalPage} and ${pageNumber != groupBuyingList[0].currentPage}"
           th:href="@{/groupBuying/list/{category}(category=${groupBuyingList[0].category}, pageNum=${pageNumber})}"
           th:text="${pageNumber}" style="border: none;">Page</a>
        <span th:if="${pageNumber <= groupBuyingList[0].totalPage} and ${pageNumber == groupBuyingList[0].currentPage}"
              class="current-page" th:text="${pageNumber}"></span>
    </span>

        <!-- 다음 버튼, 총 페이지 수가 currentPage + 10 이상일 때만 활성화 -->
        <button th:if="${groupBuyingList[0].totalPage > groupBuyingList[0].currentPage + 10}"
                th:onclick="|window.location.href='@{/groupBuying/list/{category}(category=${groupBuyingList[0].category}, pageNum=${groupBuyingList[0].currentPage + 10})}'|">&gt;</button>
    </div>

</body>
</html>