#title {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-right: 50%;
}

hr {
    width: 60%;
}

.back {
    display: flex;
    position: relative;
    justify-content: center;
    background: rgba(76, 175, 80, 0.1);
    width: 60%;
    height: 620px;
    margin: 20%;
    margin-top: 1%;
    margin-bottom: 2%;
}

table {
    width: 90%;
    border-collapse: separate;
    border-spacing: 0px 10px; /* 열 간 간격은 0, 행 간 간격은 10px */
    table-layout: fixed;
    margin-top: 2%;
    margin-bottom: 3%;
}

thead {
    display: table;
    width: 100%;
}

tbody {
    display: block;
    max-height: 550px; /* tbody의 최대 높이를 설정 */
    margin-top: 3%;
}

th {
    text-align: center;
    padding: 17px;
    background-color: #FFFFFF;
}

td {
    text-align: center;
    padding: 11px;
    background-color: #FFFFFF;
    word-wrap: break-word; /* 긴 내용이 있을 때 줄 바꿈을 허용 */
    height: 35px; /* 각 셀의 높이 고정 */
    width: 130px;
}

.left-rounded {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-rounded {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    white-space: nowrap; /* 줄바꿈 방지 */
}

.status-accept, .status-reject, .status-pending, .status-accept-pre, .status-reject-pre {
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;
    position: relative; /* position을 relative로 설정 */
    z-index: 2; /* td의 배경 위로 올라오게 함 */
    border: none;
}

.status-accept {
    background-color: #FF4343;
    color: white;
}

.status-reject {
    background-color: black;
    color: white;
}

.status-pending {
    background-color: #3D39FE;
    color: white;
}

.status-accept-pre {
    background-color: rgba(255, 67, 67, 0.5);
    color: white;
}

.status-reject-pre {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

/* 페이징 처리 관련 코드 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button, .pagination a, .pagination span {
    margin: 0 3px; /* 간격 조정 */
    padding: 5px 10px; /* 간격 조정 */
    text-decoration: none;
    color: #333;
    border: none; /* 테두리 제거 */
    cursor: pointer;
}

.pagination button {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}

.pagination button:hover, .pagination a:hover {
    background-color: #ddd;
}

.pagination .current-page {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
}

.pagination a {
    /* 선택하지 않은 페이지 버튼 스타일 */
    border: none;
    padding: 5px 10px; /* 간격 조정 */
}

.pagination button:disabled {
    cursor: default;
    background-color: #f4f4f4;
    color: #ccc;
}
