#title {
    position: relative;
    text-align: center;
    margin-top: 30px;
    margin-right: 50%;
}

hr {
    width: 60%;
}

.back {
    background-color: rgb(76,175,80,0.1);
    position: relative;
    text-align: center;
    width: 60%;

}