<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/secondhand/detail.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <script th:src="@{/js/secondhand/detail.js}"></script>
</head>
<body>
<!-- header 삽입 -->
<div th:replace="thyme/frameHeader :: header"></div>

<div><a th:href="@{/secondhand/list/ALL(pageNum=1)}" class="btn_wrap">목록</a></div>

<!-- 제목과 작성자 정보 -->
<h1 id="detail-title" th:text="${secondhand.secondhand.title}">제목</h1>
<p id="user-nickname" th:text="${secondhand.secondhand.member.nickname}">작성자</p>
<hr/>

<div class="title-context">
    <p id="title" th:text="${secondhand.secondhand.title}">제목</p>
</div>

<!-- 판매 정보 -->
<div class="info">
    <div id="head" class="info-header">
        <p id="info-title">판매정보</p>
        <div id="status" th:text="${secondhand.secondhand.status}">모집중</div>
    </div>
    <div id="info1">
        <div id="writeCategory">
            <label id="name1" for="category">카테고리</label>
            <select id="category" th:name="category" th:value="${secondhand.secondhand.category.name}">
                <option th:value="BOOK" th:text="${'교재'}" th:selected="${secondhand.secondhand.category.name eq 'BOOK'}"></option>
                <option th:value="ELECTRONIC" th:text="${'전자기기'}" th:selected="${secondhand.secondhand.category.name eq 'ELECTRONIC'}"></option>
                <option th:value="STATIONERY" th:text="${'문구'}" th:selected="${secondhand.secondhand.category.name eq 'STATIONERY'}"></option>
                <option th:value="TRANSFER" th:text="${'양도'}" th:selected="${secondhand.secondhand.category.name eq 'TRANSFER'}"></option>
            </select>
        </div>
        <div id="writeProduct">
            <label id="name2" for="product">상품명</label>
            <p id="product" th:name="product" th:text="${secondhand.secondhand.product}">상품명</p>
        </div>
        <div id="writePrice">
            <label id="name3" for="price">가격</label>
            <p id="price" th:name="price" th:text="${secondhand.secondhand.price}">가격</p>
        </div>
    </div>
    <div id="info2">
        <div id="writeTransaction">
            <label id="name4" for="type">희망 거래 방식</label>
            <div id="transactionOptions">
                <p id="delivery" class="transaction-option"
                   th:class="${secondhand.secondhand.type.name eq 'DELIVERY' || secondhand.secondhand.type.name eq 'ALL'} ? 'selected' : ''"
                   th:style="${secondhand.secondhand.type.name eq 'DELIVERY' || secondhand.secondhand.type.name eq 'ALL'} ? 'color: black' : 'color: gray'"
                   onclick="toggleTransaction('DELIVERY')">택배거래</p>
                <p id="direct" class="transaction-option"
                   th:class="${secondhand.secondhand.type.name eq 'DIRECT' || secondhand.secondhand.type.name eq 'ALL'} ? 'selected' : ''"
                   th:style="${secondhand.secondhand.type.name eq 'DIRECT' || secondhand.secondhand.type.name eq 'ALL'} ? 'color: black' : 'color: gray'"
                   onclick="toggleTransaction('DIRECT')">직거래</p>
            </div>
            <input type="hidden" id="type" th:name="type" value=""/>
        </div>
        <div id="writePlace">
            <label id="name5" for="place">장소</label>
            <p id="place" th:name="place" th:text="${secondhand.secondhand.place}">장소</p>
        </div>
    </div>
</div>

<!-- 이미지 출력 -->
<div class="image-area">
    <div th:each="image : ${secondhand.SImages}" class="image-container">
        <img th:src="${image.path}" th:alt="${image.path}" class="image-item">
    </div>
</div>

<!-- 작성 내용 출력 -->
<div class="content-area">
    <div th:text="${secondhand.secondhand.content}"></div>
</div>

<!-- 버튼 리스트 출력 -->
<div id="btn_list">
    <div id="btn_message">
        <a th:href="@{/message/detail(receiverId=${secondhand.secondhand.member.id})}" class="message">1:1 쪽지하기</a>
    </div>
    <div id="btn_complaint">
        <a th:href="@{'#'}" th:onclick="'sendDeleteRequest(\'' + ${secondhand.secondhand.id} + '\')'" class="complaint">신고하기</a>
    </div>
    <div id="btn_purchase">
        <a th:href="@{/secondhand/check(secondhandId=${secondhand.secondhand.id})}" class="purchase">구매하기</a>
    </div>
</div>

<!-- 댓글 섹션 -->
<hr/>
<div id="comment">
    <form class="comment-form" th:action="@{/secondhand/detail/comment}" method="post">
        <div class="comment-area">
            <input type="hidden" th:name="secondhandId" th:value="${secondhand.secondhand.id}"/>
            <p id="comment-nickname" th:text="${secondhand.secondhand.member.nickname}">블러드234</p>
            <textarea th:name="content" placeholder="내용을 입력하세요"></textarea>
        </div>
        <input id="createBtn" type="submit" value="등록"/>
    </form>
    <div th:each="comment : ${secondhand.SComments}" class="comment">
        <hr/>
        <div class="comment-info">
            <p th:text="${comment.member.nickname}">닉네임</p>
            <p th:text="${#strings.substring(comment.createdAt, 0, 10)}">작성자</p>
        </div>
        <div class="comment-content" th:text="${comment.content}"></div>
    </div>
</div>
</body>
</html>
