<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List.html</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/search/list.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
<!-- header 삽입 -->
<div th:replace="thyme/frameHeader :: header"></div>

<!-- 메뉴바 -->
<div class="menu1">
    <nav>
        <ul>
            <li><a th:href="@{/secondhand/list/ALL(pageNum=1)}">전체</a></li>
            <li><a th:href="@{/secondhand/list/BOOK(pageNum=1)}">교재</a></li>
            <li><a th:href="@{/secondhand/list/ELECTRONIC(pageNum=1)}">전자기기</a></li>
            <li><a th:href="@{/secondhand/list/STATIONERY(pageNum=1)}">문구</a></li>
            <li><a th:href="@{/secondhand/list/TRANSFER(pageNum=1)}">양도</a></li>
        </ul>
    </nav>
</div>
<hr/>

<!-- 중고거래, 공동구매 검색 결과 리스트 -->
<div class="product-grid">
    <div th:each="search : ${searchList.searchs}">
        <a th:if="${search.type == 'groupBuying'}" th:href="@{/groupBuying/{groupBuyingId}(groupBuyingId=${search.id})}" class="product-box-link">
            <div class="product-box">
                <span th:text="${#strings.substring(search.createdAt, 0, 10)}"></span>
                <!-- 이미지가 있는 경우 가장 첫 번째 이미지를 썸네일로 사용-->
                <div th:if="${search.imgUrl == null or search.imgUrl.isEmpty()}">
                    <img th:src="@{/images/no_img.jpg}" alt="No Image" />
                </div>
                <div th:if="${search.imgUrl != null and !search.imgUrl.isEmpty()}">
                    <img th:src="@{${search.imgUrl}}" alt="Image"/>
                </div>
                <p id="title1" th:text="${search.title}"><b>제목</b></p>
                <p th:text="${search.nickname}">작성자</p>
                <p th:text="${search.price} + '원'">가격</p>
            </div>
        </a>
        <a th:if="${search.type == 'secondhand'}" th:href="@{/secondhand/{secondhandId}(secondhandId=${search.id})}" class="product-box-link">
            <div class="product-box">
                <span th:text="${#strings.substring(search.createdAt, 0, 10)}"></span>
                <!-- 이미지가 있는 경우 가장 첫 번째 이미지를 썸네일로 사용-->
                <div th:if="${search.imgUrl == null or search.imgUrl.isEmpty()}">
                    <img th:src="@{/images/no_img.jpg}" alt="No Image" />
                </div>
                <div th:if="${search.imgUrl != null and !search.imgUrl.isEmpty()}">
                    <img th:src="@{${search.imgUrl}}" alt="Image"/>
                </div>
                <p id="title2" th:text="${search.title}"><b>제목</b></p>
                <p th:text="${search.nickname}">작성자</p>
                <p th:text="${search.price} + '원'">가격</p>
            </div>
        </a>
    </div>
</div>

<!-- 글 작성하기 버튼 -->
<button id="create" type="button" th:onclick="|window.location.href='@{/secondhand/moveToForm}'|">글 작성하기</button>

<!-- 페이지네이션 -->
<div class="pagination">
    <!-- 이전 버튼, currentPage가 11 이상일 때만 활성화 -->
    <button th:if="${searchList.currentPage > 10}"
            th:onclick="|window.location.href='@{/search/(searchValue=${searchList.searchValue}, pageNum=${searchList.currentPage - 10})}'|">&lt;</button>

    <!-- 페이지 번호 반복 출력 -->
    <span th:each="pageNumber : ${#numbers.sequence((searchList.currentPage - 1) / 10 * 10 + 1, ((searchList.currentPage - 1) / 10 + 1) * 10)}">
        <a th:if="${pageNumber <= searchList.totalPage} and ${pageNumber != searchList.currentPage}"
           th:href="@{/search(searchValue=${searchList.searchValue}, pageNum=${pageNumber})}"
           th:text="${pageNumber}" style="border: none;">Page</a>
        <span th:if="${pageNumber <= searchList.totalPage} and ${pageNumber == searchList.currentPage}"
              class="current-page" th:text="${pageNumber}"></span>
    </span>

    <!-- 다음 버튼, 총 페이지 수가 currentPage + 10 이상일 때만 활성화 -->
    <button th:if="${searchList.totalPage > searchList.currentPage + 10}"
            th:onclick="|window.location.href='@{/searcg(searchValue=${searchList.searchValue}, pageNum=${searchList.currentPage + 10})}'|">&gt;</button>
</div>
</body>
</html>