<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
    <link rel="stylesheet" th:href="@{/style/user/login.css}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ '';
        if (errorMessage) {
            alert(errorMessage);
        }
        /*]]>*/
    </script>
</head>
<body>
<div>
    <div class="frame1">
        <div class="logo">
            <a th:href="@{/secondhand/list/ALL(pageNum=0)}">
                <img th:src="@{/images/logo.png}" alt="로고"/>
            </a>
            <!-- <a><img src="../../../static/images/logo.png"/></a> -->
        </div>
        <div class="menu">
            <!-- th:object="${member} 추가 -->
            <form method="post" th:action="@{/user/login}" id="login-form">
                <!--th:field="*{nickname}" 추가-->
                <input type="text" id="nickname" name="nickname" placeholder="아이디">
                <input type="password" id="password" name="password" placeholder="비밀번호">
                <button type="submit" id="login" value="login"><b>로그인</b></button>
            </form>
            <a th:href="@{/user/register}"><b>회원가입</b></a>
        </div>
    </div>
</div>
</body>
</html>
