<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" th:href="@{/style/header.css}">
    <link rel="stylesheet" th:href="@{/style/user/otherUserView.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <script>
        function getStars(mannergrade) {
            let roundedGrade = Math.round(mannergrade);
            let fullStars = roundedGrade;
            let emptyStars = 5 - fullStars;

            let stars = '';
            for (let i = 0; i < fullStars; i++) {
                stars += '★';
            }
            for (let i = 0; i < emptyStars; i++) {
                stars += '☆';
            }
            return stars;
        }

        document.addEventListener('DOMContentLoaded', function() {
            const mannergrade = [[${user.mannerGrade}]];
            const starContainer = document.getElementById('star-container');
            starContainer.textContent = getStars(mannergrade);
        });
    </script>
</head>
<body>
<div th:replace="thyme/frameHeader :: header"></div><br>

<div class="userView">
    <div class="userInfo">
        <div class="userProfileBox">
            <div class="userProfile">
                <!-- user.profile이 null이 아닌 경우 이미지를 표시 -->
                <img th:if="${user.profile != null}" th:src="${user.profile}" class="profile" alt="프로필 이미지" />
                <!-- user.profile이 null인 경우 아이콘을 표시 -->
                <i th:unless="${user.profile != null}" class="fa-solid fa-user" title="Insert image" id="image-icon"></i>
                <br>
            </div>
            <span th:text="${user.nickname}"></span>
        </div>
        <div class="vertical-line"></div>
        <div class="userBox">
            <div class="manner">
                <div class="rectangle" th:text="${user.nickname} + '의 매너 등급'"></div>
                <!-- 별점 표시.. -->&nbsp;&nbsp;
                <p id="star-container"></p>
            </div>
            <br>
            <div class="location">
                <div class="rectangle" th:text="${user.nickname} + '의 동네'"></div>
                <span th:inline="text">&nbsp;&nbsp;[[${user.address}]]</span>
            </div>
        </div>
    </div>
    <br><br>
    <div class="categoryMenu">
        <div class="menu" id="selling" th:attr="data-url=@{/secondhand/selling/top4List(memberId=${user.id})}">판매 상품</div>
        <div class="menu" id="groupbuying" th:attr="data-url=@{/groupBuying/mylist(memberId=${user.id})}">공구 모집</div>
        <div class="menu" id="review" th:attr="data-url=@{/review/mypage(memberId=${user.id})}">후기 내역</div>
        <div class="menu" id="complaints" th:attr="data-url=@{/complaint/mypage(memberId=${user.id})}">신고 내역</div>
    </div>
    <!-- 동적으로 정보 로드 -->
    <div class="categoryContent" id="categoryContent">

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/user/otherUserView.js}"></script>
</body>
</html>