<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- 구글맵 API -->
    <script th:src=" 'https://maps.googleapis.com/maps/api/js?key=' + AIzaSyBG0mcLkUd6Oz5Q4uCD_cXE-dGNaoAi-fg + '&callback=initMap' " async defer></script>
    <link rel="stylesheet" th:href="@{/style/user/register.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <!-- 현재 내 위치 불러오기 -->
    <script>
        function displayAddress(address) {
            var displayDiv = document.getElementById('address-display');
            displayDiv.innerText = address;
        }
    </script>
</head>
<body>
<div>
    <div class="frame1">
        <div class="logo">
            <a th:href="@{/secondhand/list/ALL(pageNum=0)}">
                <img th:src="@{/images/logo.png}" alt="로고"/>
            </a>
        </div>
        <div class="register">
            <form method="post" th:action="@{/user/register}" id="register-form" enctype="multipart/form-data">
                <table>
                    <tr>
                        <td id="img">
                            <div class="imgCircle">
                                <i class="fa-solid fa-user" title="Insert image" id="image-icon"></i>
                                <input type="file" id="file-input" name="profile" style="display: none;" />
                            </div>
                        </td>
                        <td>
                            <div class="header">
                                <div class="id">
                                    <input type="text" id="nickname" name="nickname" placeholder="아이디">
                                    <button type="button" id="checkId"><b>중복 확인</b></button>
                                </div>
                                <!-- 서버 응답 출력 -->
                                <div id="response"></div>
                                <div class ="email">
                                    <input type="email" id="email" name="email" placeholder="이메일">
                                </div>
                                <div class="pw">
                                    <input type="password" id="password" name="password" placeholder="비밀번호">
                                    <input type="password" id="checkPassword" name="checkPassword" placeholder="비밀번호 확인">
                                </div>
                                <div class="phoneNum">
                                    <input type="text" id="phone" name="phone" placeholder="전화번호">
                                </div>
                                <div class="bankAccount">
                                    <select id="bank" name="bank">
                                        <option value="">은행 선택&nbsp;▾</option>
                                        <option value="SHINHAN">신한은행</option>
                                        <option value="HANA">하나은행</option>
                                        <option value="KOOKMIN">국민은행</option>
                                        <option value="WOORI">우리은행</option>
                                        <option value="NONGHYUP">농협</option>
                                    </select>
                                    <input type="text" id="account" name="account" placeholder="계좌번호">
                                </div>
                                <div class="location">
                                    <label id="name1"><b>동네 인증</b></label>
                                    <script>
                                        // register.js 파일이 로드된 후에 initMap() 함수를 호출합니다.
                                        initMap();
                                    </script>
                                    <div id="gooleMap">
                                        <div id="map"></div>
                                    </div>
                                </div>
                                <label id="name2">다른 주소로 변경</label>
                                <div class="search">
                                    <input type="text" id="address-input" placeholder="주소를 입력하세요">
                                    <button id="search-button" onclick="searchAddress()"><b>검색</b></button>
                                </div>
                                <br>
                                <div id="nowAddress">
                                    <a>현 위치는&nbsp;</a>
                                    <div id="address-display"></div>
                                    <a>&nbsp;입니다. </a>
                                </div>
                                <input type="hidden" id="latitude" name="latitude">
                                <input type="hidden" id="longitude" name="longitude">
                                <input type="hidden" id="profile" name="profile">
                            </div>
                            <br>
                            <button type="button" id="register" onclick="getLocationAndSubmit()"><b>회원가입</b></button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script th:src="@{/js/user/register.js}"></script>
</body>
</html>