<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공동구매 신청 수정하기</title>
    <link rel="stylesheet" th:href="@{/style/header.css}" href="../../../static/style/header.css"/>
    <link rel="stylesheet" th:href="@{/style/participation/create.css}" href="../../../static/style/header.css"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
    <script th:src="@{/js/participation/create.js}"></script>
</head>
<body>
<div th:insert="~{thyme/frameHeader :: header}"></div>
<div class="back">
    <div id="update-form" class="participation-form">
        <div class="header-container">
            <p class="title">공동구매참여 신청폼</p>
            <p class="description2">*신청폼 수정은 모집 마감 하루 전까지 가능합니다</p>
        </div>
        <table>
            <thead>
            <tr>
                <th>이름</th>
                <th>전화번호</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="box1"><label for="name"></label><input class="form-input" id="name"
                                                                  th:value="${member.nickname}" readonly></td>
                <td class="box1"><label for="phone"></label><input class="form-input" id="phone"
                                                                   th:value="${member.phone}" readonly></td>
            </tr>
            </tbody>
            <tr>
                <th>추가사항</th>
            </tr>
            <tr>
                <td class="description" colspan="2">게시자가 요구한 추가사항을 작성하지 않으면 참여 신청이 거절될 수 있습니다.</td>
            </tr>
            <tr>
                <td colspan="2" class="box2">
                    <input type="hidden" id="participationId" th:value="${participation.getId()}"/>
                    <input class="content-input" id="content" type="text"
                           th:value="${participation.getContent()}">
                </td>
            </tr>
            <tr>
                <td colspan="2" class="description2">
                    <label>
                        <input type="checkbox" id="my_checkbox" onclick="is_checked()"> 참여가 확정되면 글에 게시된 오픈채팅방에 들어와주세요.
                    </label>
                </td>
            </tr>
        </table>
        <div class="btn-container">
            <button class="btn1" th:onclick="'handleFormSubmit(\'' + ${participation.id} + '\', \'' + ${memberId} + '\')'">수정하기</button>
            <button class="btn1" onclick="window.history.back()">취소하기</button>
        </div>
    </div>
</div>
</body>
</html>
