<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>거래 후기 남기기</title>
    <link rel="stylesheet" th:href="@{/style/header.css}" href="../../../static/style/header.css"/>
    <link rel="stylesheet" th:href="@{/style/review/create.css}"
          href="../../../static/style/review/create.css"/>
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"/>
</head>
<body>
<div th:replace="thyme/frameHeader :: header"></div>


</body>
</html>