.header {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    width: 100%;
    max-width: 100%; /* 너비가 부모 요소를 초과하지 않도록 설정 */
}

.frame1 {
    position: relative; /* .menu의 위치를 상대적으로 설정하기 위해 필요 */
    display: flex;
    margin: 0 auto;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 80%; /* 헤더의 너비의 80%로 설정 */
}

.logo {
    flex-grow: 3; /* .logo가 차지할 공간을 설정 (30%의 10배) */
    max-width: 30%; /* 최대 너비를 30%로 설정 */
    justify-content: center; /* 가로 방향 가운데 정렬 */
}

.logo img {
    max-width: 75%;
    height: auto;
}

.headerMenu {
    flex-grow: 7; /* .menu가 차지할 공간을 설정 (70%의 10배) */
    max-width: 70%; /* 최대 너비를 70%로 설정 */
}

.headerMenu nav {
    display: flex; /* 내부 요소를 가운데 정렬하기 위해 flexbox를 사용 */
    flex-grow: 1; /* 너비를 최대한 차지하도록 설정 */
}

.headerMenu nav ul {
    display: flex; /* 내부 요소를 가로로 나열하기 위해 flexbox를 사용 */
    list-style: none;
}

.headerMenu nav ul li{
    font-size: 1em;
}

.headerMenu nav ul li a {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: #333333;
    font-size: 16px;
    margin-right: 5.1em;
}

.headerMenu nav ul li a div {
    margin-left: 1em; /* <i> 태그의 왼쪽 마진을 1em으로 유지 */
    margin-right: 0; /* <i> 태그의 오른쪽 마진을 0으로 설정 */
}

.headerMenu nav ul li:last-child a div {
    margin-left: -2em; /* 마지막 <a> 안의 <i> 태그의 왼쪽 마진을 1em으로 유지 */
    margin-right: 0; /* 마지막 <a> 안의 <i> 태그의 오른쪽 마진을 0으로 설정 */
}

.frame2 {
    position: relative; /* 위치를 상대적으로 설정 */
    display: flex;
    margin: 0 auto;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    width: 60%;
}

.frame2 form {
    display: flex;
    justify-content: center; /* 수평 가운데 정렬 */
    background: rgba(223, 255, 224, 0.35);
    border: 1px solid #4CAF50;
    border-radius: 28em;
    width: 95%;
}

.frame2 input[type="search"] {
    width: 90%;
    background: transparent;
    border-radius: 5em;
    border: none;
    outline: none;
}

.frame2 button {
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
}

/* 아이콘 스타일링 */
.icon-wrapper.fa-regular fa-message,
icon-wrapper.fa-regular fa-user
{
    color: #333333;
}

.fa-magnifying-glass {
    color: #4CAF50;
    font-size: 20px;
}

.icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-wrapper i {
    font-size: 18px; /* 아이콘 크기 조정 */
}

.icon-wrapper span {
    font-size: 11px; /* 문구 크기 조정 */
}