body {
    font-family: Arial, sans-serif;
}

#msgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

#msg {
    margin-top: 20px;
    width: 65%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#nickname {
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* sent 메시지가 content의 오른쪽에서 시작하도록 설정 */
}

.eachMsg {
    margin-top: 10px;
}

.eachMsg.sent {
    margin-left: auto;
}

.eachMsg.received {
    justify-content: flex-start;
}

.message-box {
    display: inline-block;
    max-width: 100%;
    min-width: 50px;
    padding: 3px;
    border-radius: 10px;
    position: relative;
    word-wrap: break-word;
}

.message-box.sent {
    align-self: flex-end;
    background-color: #daf8cb;
    text-align: right;
}

.message-box.received {
    align-self: flex-start;
    background-color: #f1f0f0;
    text-align: left;
}

.message-content {
    margin: 0;
    word-wrap: break-word;
}

p#nick1, p#nick2 {
    font-weight: bold;
    font-size: 10px;
    margin-bottom: -5px;
}

p#title {
    font-size: 15px;
}

p#time {
    margin-top: -5px;
    font-size: 0.5em;
    color: #666;
    text-align: right;
}

/* 입력 필드와 버튼 스타일링 */
#inputMessage form {
    display: flex;
    align-items: center;
}

#inputMessage input[type="text"] {
    flex: 1; /* 입력 필드가 가능한 최대 너비를 차지하도록 설정 */
    padding: 8px; /* 내부 여백 추가 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
}

#inputMessage button[type="submit"] {
    padding: 8px 16px; /* 버튼 내부 여백 설정 */
    margin-left: 8px; /* 입력 필드와 버튼 사이의 여백 추가 */
    background-color: #4CAF50; /* 배경색 설정 */
    color: white; /* 텍스트 색상 설정 */
    border: none; /* 테두리 없음 */
    border-radius: 10px; /* 모서리를 둥글게 만듦 */
    cursor: pointer; /* 마우스 커서 모양 설정 */
    transition: background-color 0.3s; /* 배경색 변화에 대한 전환 효과 추가 */
}

#inputMessage button[type="submit"]:hover {
    background-color: #45a049; /* 마우스 호버시 배경색 변화 */
}

